<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>banker.png</key>
			<dict>
				<key>frame</key>
				<string>{{798,126},{80,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,59}</string>
			</dict>
			<key>bt_callBanker_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,106},{217,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{217,96}</string>
			</dict>
			<key>bt_cancel_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{102,106},{217,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{217,96}</string>
			</dict>
			<key>bt_start_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,404},{252,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{252,96}</string>
			</dict>
			<key>btn_back.png</key>
			<dict>
				<key>frame</key>
				<string>{{307,624},{71,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{71,71}</string>
			</dict>
			<key>btn_change.png</key>
			<dict>
				<key>frame</key>
				<string>{{382,692},{71,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{71,71}</string>
			</dict>
			<key>btn_change_unactive.png</key>
			<dict>
				<key>frame</key>
				<string>{{307,699},{71,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{71,71}</string>
			</dict>
			<key>btn_xiazhu_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{202,106},{217,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{217,96}</string>
			</dict>
			<key>btn_xiazhu_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{302,106},{217,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{217,96}</string>
			</dict>
			<key>btn_xiazhu_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{402,106},{217,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{217,96}</string>
			</dict>
			<key>btn_xiazhu_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,777},{217,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{217,96}</string>
			</dict>
			<key>caculator_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{585,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{585,100}</string>
			</dict>
			<key>callbanker.png</key>
			<dict>
				<key>frame</key>
				<string>{{805,315},{53,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{53,52}</string>
			</dict>
			<key>di_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,525},{248,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{248,101}</string>
			</dict>
			<key>di_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{479,401},{106,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,148}</string>
			</dict>
			<key>di_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{589,448},{100,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,101}</string>
			</dict>
			<key>dontbanker.png</key>
			<dict>
				<key>frame</key>
				<string>{{805,210},{101,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{101,52}</string>
			</dict>
			<key>douniu_btn_yellow.png</key>
			<dict>
				<key>frame</key>
				<string>{{102,777},{217,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{217,96}</string>
			</dict>
			<key>douniu_bubble_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{934,2},{519,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{519,49}</string>
			</dict>
			<key>douniu_poker_type_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{857,404},{115,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{115,66}</string>
			</dict>
			<key>douniu_poker_type_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{589,552},{116,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{116,64}</string>
			</dict>
			<key>douniu_poker_type_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{912,643},{113,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{113,64}</string>
			</dict>
			<key>douniu_poker_type_102.png</key>
			<dict>
				<key>frame</key>
				<string>{{424,327},{165,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{165,70}</string>
			</dict>
			<key>douniu_poker_type_103.png</key>
			<dict>
				<key>frame</key>
				<string>{{857,523},{115,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{115,66}</string>
			</dict>
			<key>douniu_poker_type_104.png</key>
			<dict>
				<key>frame</key>
				<string>{{502,106},{165,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{165,71}</string>
			</dict>
			<key>douniu_poker_type_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{912,760},{113,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{113,64}</string>
			</dict>
			<key>douniu_poker_type_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{657,566},{114,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{114,65}</string>
			</dict>
			<key>douniu_poker_type_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{927,525},{114,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{114,66}</string>
			</dict>
			<key>douniu_poker_type_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{694,448},{114,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{114,66}</string>
			</dict>
			<key>douniu_poker_type_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{726,600},{114,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,65}</string>
			</dict>
			<key>douniu_poker_type_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{844,642},{115,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{115,64}</string>
			</dict>
			<key>douniu_poker_type_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{430,623},{109,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,65}</string>
			</dict>
			<key>douniu_poker_type_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{430,553},{109,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,66}</string>
			</dict>
			<key>douniu_table_card_type_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{214,327},{206,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{206,71}</string>
			</dict>
			<key>douniu_table_card_type_bg1.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,327},{208,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{208,71}</string>
			</dict>
			<key>exit1_normal.png</key>
			<dict>
				<key>frame</key>
				<string>{{577,226},{224,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{224,89}</string>
			</dict>
			<key>goon2_normal.png</key>
			<dict>
				<key>frame</key>
				<string>{{764,372},{224,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{224,89}</string>
			</dict>
			<key>kuang_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{591,2},{266,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{266,120}</string>
			</dict>
			<key>kuang_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{593,319},{125,167}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{125,167}</string>
			</dict>
			<key>kuang_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{307,502},{118,119}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{118,119}</string>
			</dict>
			<key>prompt.png</key>
			<dict>
				<key>frame</key>
				<string>{{861,2},{398,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{398,69}</string>
			</dict>
			<key>sprite_openCard.png</key>
			<dict>
				<key>frame</key>
				<string>{{543,672},{106,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,58}</string>
			</dict>
			<key>sprite_prompt.png</key>
			<dict>
				<key>frame</key>
				<string>{{726,669},{112,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,65}</string>
			</dict>
			<key>btn_xiazhu_1h.png</key>
			<dict>
				<key>frame</key>
				<string>{{107,504},{217,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{217,96}</string>
			</dict>
			<key>btn_xiazhu_2h.png</key>
			<dict>
				<key>frame</key>
				<string>{{207,504},{217,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{217,96}</string>
			</dict>
			<key>btn_xiazhu_3h.png</key>
			<dict>
				<key>frame</key>
				<string>{{258,402},{217,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{217,96}</string>
			</dict>
			<key>btn_xiazhu_4h.png</key>
			<dict>
				<key>frame</key>
				<string>{{577,126},{217,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{217,96}</string>
			</dict>
			<key>jinbi_k.png</key>
			<dict>
				<key>frame</key>
				<string>{{107,725},{177,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{177,36}</string>
			</dict>
			<key>add.png</key>
			<dict>
				<key>frame</key>
				<string>{{502,275},{44,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,44}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>gameScene_oxnew.png</string>
			<key>realTextureFileName</key>
			<string>gameScene_oxnew.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>