<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>pdkres/btn_back.png</key>
			<dict>
				<key>frame</key>
				<string>{{977,0},{118,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{118,39}</string>
			</dict>
			<key>pdkres/btn_change.png</key>
			<dict>
				<key>frame</key>
				<string>{{977,118},{118,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{118,39}</string>
			</dict>
			<key>pdkres/btn_change_unactive.png</key>
			<dict>
				<key>frame</key>
				<string>{{977,236},{118,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{118,39}</string>
			</dict>
			<key>pdkres/btn_continue.png</key>
			<dict>
				<key>frame</key>
				<string>{{703,392},{253,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{253,92}</string>
			</dict>
			<key>pdkres/btn_leave.png</key>
			<dict>
				<key>frame</key>
				<string>{{703,248},{255,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{255,95}</string>
			</dict>
			<key>pdkres/btn_care.png</key>
			<dict>
				<key>frame</key>
				<string>{{480,445},{183,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{183,70}</string>
			</dict>
			<key>pdkres/btn_care_invalid.png</key>
			<dict>
				<key>frame</key>
				<string>{{480,628},{183,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{183,70}</string>
			</dict>
			<key>pdkres/btn_login_out.png</key>
			<dict>
				<key>frame</key>
				<string>{{384,633},{183,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{183,70}</string>
			</dict>
			<key>pdkres/btn_login_out_invalid.png</key>
			<dict>
				<key>frame</key>
				<string>{{454,811},{183,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{183,70}</string>
			</dict>
			<key>pdkres/btn_more.png</key>
			<dict>
				<key>frame</key>
				<string>{{826,608},{116,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{116,113}</string>
			</dict>
			<key>pdkres/btn_noplay_invalid.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,725},{188,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{188,96}</string>
			</dict>
			<key>pdkres/btn_noshow.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,913},{188,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{188,96}</string>
			</dict>
			<key>pdkres/btn_play.png</key>
			<dict>
				<key>frame</key>
				<string>{{96,725},{188,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{188,96}</string>
			</dict>
			<key>pdkres/btn_play_invalid.png</key>
			<dict>
				<key>frame</key>
				<string>{{188,913},{188,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{188,96}</string>
			</dict>
			<key>pdkres/btn_prepare.png</key>
			<dict>
				<key>frame</key>
				<string>{{733,718},{153,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{153,73}</string>
			</dict>
			<key>pdkres/btn_rechoose.png</key>
			<dict>
				<key>frame</key>
				<string>{{192,725},{188,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{188,96}</string>
			</dict>
			<key>pdkres/btn_rechoose_invalid.png</key>
			<dict>
				<key>frame</key>
				<string>{{288,725},{188,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{188,96}</string>
			</dict>
			<key>pdkres/btn_setting_invalid.png</key>
			<dict>
				<key>frame</key>
				<string>{{550,725},{183,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{183,70}</string>
			</dict>
			<key>pdkres/btn_star.png</key>
			<dict>
				<key>frame</key>
				<string>{{376,913},{188,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{188,96}</string>
			</dict>
			<key>pdkres/btn_tip.png</key>
			<dict>
				<key>frame</key>
				<string>{{564,445},{188,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{188,96}</string>
			</dict>
			<key>pdkres/btn_tip_invalid.png</key>
			<dict>
				<key>frame</key>
				<string>{{384,445},{188,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{188,96}</string>
			</dict>
			<key>pdkres/num_score.png</key>
			<dict>
				<key>frame</key>
				<string>{{958,248},{144,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{144,14}</string>
			</dict>
			<key>pdkres/sp_scoreFlag.png</key>
			<dict>
				<key>frame</key>
				<string>{{703,376},{16,16}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{16,16}</string>
			</dict>
			<key>pdkres/sp_trustee.png</key>
			<dict>
				<key>frame</key>
				<string>{{899,343},{31,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{31,33}</string>
			</dict>
			<key>pdkres/Sprite_firstPlayer.png</key>
			<dict>
				<key>frame</key>
				<string>{{660,445},{26,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{26,94}</string>
			</dict>
			<key>pdkres/tag_alarm.png</key>
			<dict>
				<key>frame</key>
				<string>{{713,615},{103,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{103,113}</string>
			</dict>
			<key>pdkres/tag_poker_small.png</key>
			<dict>
				<key>frame</key>
				<string>{{831,343},{49,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{49,68}</string>
			</dict>
			<key>pdkres/tag_porfile.png</key>
			<dict>
				<key>frame</key>
				<string>{{823,484},{124,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{124,124}</string>
			</dict>
			<key>pdkres/tag_profile_title.png</key>
			<dict>
				<key>frame</key>
				<string>{{703,343},{128,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,33}</string>
			</dict>
			<key>pdkres/btn_setting.png</key>
			<dict>
				<key>frame</key>
				<string>{{972,354},{118,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{118,39}</string>
			</dict>
			<key>pdkres/tag_money.png</key>
			<dict>
				<key>frame</key>
				<string>{{956,472},{253,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{253,56}</string>
			</dict>
			<key>pdkres/game_btn_close.png</key>
			<dict>
				<key>frame</key>
				<string>{{550,633},{163,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{163,76}</string>
			</dict>
			<key>pdkres/game_btn_closure.png</key>
			<dict>
				<key>frame</key>
				<string>{{637,795},{76,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,76}</string>
			</dict>
			<key>pdkres/game_btn_closure_press.png</key>
			<dict>
				<key>frame</key>
				<string>{{806,721},{76,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,76}</string>
			</dict>
			<key>pdkres/game_btn_open.png</key>
			<dict>
				<key>frame</key>
				<string>{{660,539},{163,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{163,76}</string>
			</dict>
			<key>pdkres/tag_setting.png</key>
			<dict>
				<key>frame</key>
				<string>{{703,0},{248,274}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{248,274}</string>
			</dict>
			<key>pdkres/tag_dialog.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{703,445}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{703,445}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>pdkPlist.png</string>
			<key>realTextureFileName</key>
			<string>pdkPlist.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>